version: "3.8"

services:
  # Elasticsearch Docker Images: https://www.docker.elastic.co/
  # https://github.com/deviantony/docker-elk/blob/main/elasticsearch/config/elasticsearch.yml
  dotnet:
    image: my_app
    build: /var/www/es/current/dotnet/TodoApi
    networks:
      - my-net

networks:
  my-net:
    external: true
