version: "3.8"

services:
  # Elasticsearch Docker Images: https://www.docker.elastic.co/
  # https://github.com/deviantony/docker-elk/blob/main/elasticsearch/config/elasticsearch.yml
  users:
    image: ruby_users
    container_name: ruby_users_app
    volumes:
      - "/var/www/es/shared/ca/out:/certs"
    tty: true
    networks:
      - my-net
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    environment:
      - xpack.security.enabled=true
      - node.name=elasticsearch-node
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.verification_mode=certificate
      - xpack.security.http.ssl.key=certs/server/abc/server.key
      - xpack.security.http.ssl.certificate=certs/server/abc/server.crt
      - xpack.security.http.ssl.certificate_authorities=certs/client/root.crt
    volumes:
      - "/var/www/es/shared/ca/out:/usr/share/elasticsearch/config/certs"
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - my-net

networks:
  my-net:
    external: true
